---
import { siteMetadata } from "@/config/siteMetadata";
import { Mail, Twitter, Linkedin, Github, Spotify } from "@/components/icons";
---

<footer>
  <div class="mt-16 flex flex-col items-center">
    <div class="mb-3 mt-8 flex space-x-4">
      <a href={`mailto:${siteMetadata.email}`}>
        <Mail
          className="h-6 w-6 text-gray-700 hover:text-primary-500 dark:text-gray-200 dark:hover:text-primary-400"
        />
      </a>
      <a href={siteMetadata.twitter}>
        <Twitter
          className="h-6 w-6 text-gray-700 hover:text-primary-500 dark:text-gray-200 dark:hover:text-primary-400"
        />
      </a>
      <a href={siteMetadata.linkedin}>
        <Linkedin
          className="h-6 w-6 text-gray-700 hover:text-primary-500 dark:text-gray-200 dark:hover:text-primary-400"
        />
      </a>
      <a href={siteMetadata.github}>
        <Github
          className="h-6 w-6 text-gray-700 hover:text-primary-500 dark:text-gray-200 dark:hover:text-primary-400"
        />
      </a>
      <a href={siteMetadata.spotify}>
        <Spotify
          className="h-6 w-6 text-gray-700 hover:text-primary-500 dark:text-gray-200 dark:hover:text-primary-400"
        />
      </a>
    </div>
    <div class="mb-8 flex space-x-2 text-sm text-gray-500 dark:text-gray-400">
      <div>{siteMetadata.author}</div>
      <div>{` • `}</div>
      <div>{`© ${new Date().getFullYear()}`}</div>
      <div>{` • `}</div>
      <a href="/">{siteMetadata.title}</a>
    </div>
  </div>
</footer>
